<div class="popup reg-popup" id="regPopup">
	<div class="close"></div>
	<div class="popup-content">
		<div class="popup-ttl">Регистрация на проекте</div>
		<div class="common-form reg-form clearfix">
			<form action="#" method="post" enctype="multipart/form-data">
				<div class="reg-form-l">
					<h2>Информация<br />об участнике/коллективе</h2>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_name">Название коллектива&nbsp;<span class="req">*</span></label>
							<input type="text" name="reg_name" id="reg_name" data-errortext="Текст, для ошибки, который указан в атрибуте data-errortext. Если он есть, то показывается этот текст" required />
							<div class="form-hint">
								Например: Иван Петров
							</div>
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_genre">Жанр&nbsp;<span class="req">*</span></label>
							<select name="reg_genre" id="reg_genre" required >
								<option value="">Выберите жанр</option>
								<option value="1">Классика</option>
								<option value="2">Рок</option>
								<option value="3">Поп</option>
								<option value="4">Рэп</option>
								<option value="5">Кавер</option>
							</select>
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_country">Страна&nbsp;<span class="req">*</span></label>
							<input type="text" name="reg_country" id="reg_country" required />
							<div class="form-hint">
								Например: Аргентина
							</div>
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_city">Город, который вы&nbsp;представляете&nbsp;<span class="req">*</span></label>
							<input type="text" name="reg_city" id="reg_city" required />
							<div class="form-hint">
								Например: Саратов
							</div>
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_phone">Телефон&nbsp;<span class="req">*</span></label>
							<input type="text" name="reg_phone" id="reg_phone" class="phone" required />
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_email">Электронная почта&nbsp;<span class="req">*</span></label>
							<input type="text" name="reg_email" id="reg_email" class="email" required />
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<div class="form-row clearfix">
						<div class="form-item">
							<label for="reg_message">Несколько слов о себе&nbsp;<span class="req">*</span></label>
							<textarea name="reg_message" id="reg_message" rows="4" required></textarea>
							<div class="tooltip-link">?</div>
							<div class="tooltip-cont">
								<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
							</div>
						</div>
					</div>
					<h3>
						Фотографии
						<div class="tooltip-link">?</div>
						<div class="tooltip-cont">
							<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
						</div>
					</h3>
					<div id="fileupload-foto">
						<div class="files-list">
							<table role="presentation">
							<tbody class="files">
							</tbody>
							</table>
						</div>
						<div class="window-import-link">
							<div class="fileinput-button">
								<span>Загрузить еще</span>
								<input type="file" name="files[]"/>
							</div>
						</div>
					</div>
					<!-- The template to display files available for upload -->
					<script id="template-upload" type="text/x-tmpl">
							{% for (var i=0, file; file=o.files[i]; i++) { %}
									<tr class="template-download fade">
											<td><div class="files-item-name"><div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar" style="width:0"></div></div><span>{%=file.name%}</span></div></td>
											<td>
													{% if (!i) { %}
													<button class="cancel files-item-stop"></button>
													{% } %}
													<div class="files-item-error error"></div>
											</td>
									</tr>
							{% } %}
					</script>
					<!-- The template to display files available for download -->
					<script id="template-download" type="text/x-tmpl">
						{% for (var i=0, file; file=o.files[i]; i++) { %}
								<tr class="template-download fade">
										<td><div class="files-item-name"><span>{%=file.name%}</span></div></td>
										<td>
											{% if (file.deleteUrl) { %}
													<button class="delete files-item-del" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
												{% } %}
												{% if (file.error) { %}
														<div class="files-item-error">— загрузка файла не удалась из-за <span>{%=file.error%}</span></div>
												{% } %}
										</td>
									</tr>
							{% } %}
					</script>
				</div>
				<div class="reg-form-r">
					<h2>Файлы для заявки</h2>
					
					<h3>
						Аудиофайл&nbsp;<span class="req">*</span>
						<div class="tooltip-link">?</div>
						<div class="tooltip-cont">
							<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
						</div>
					</h3>
					<div class="form-filelink" id="fileupload-audio">
						<div class="files-list">
							<table role="presentation">
							<tbody class="files">
							</tbody>
							</table>
						</div>
						<div class="form-filelink-top">
							<div class="form-filelink-top-file">
								<div class="window-import-link">
									<div class="fileinput-button">
										<span>Загрузить файл</span>
										<input type="file" name="files[]"/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<h3>
						Видеофайл&nbsp;<span class="req">*</span>
						<div class="tooltip-link">?</div>
						<div class="tooltip-cont">
							<p>Адекватная ментальность раскручивает рекламный макет. Исходя из структуры пирамиды Маслоу, рыночная ситуация синхронизирует имидж. Маркетинг довольно хорошо сбалансирован.</p>
						</div>
					</h3>
					<div class="form-filelink" id="fileupload-video">
						<div class="files-list">
							<table role="presentation">
							<tbody class="files">
							</tbody>
							</table>
						</div>
						<div class="reg-video-preview">
							<iframe width="240" height="168" src="https://www.youtube.com/embed/K2cNqaPSHv0" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="form-filelink-top">
							<div class="form-input">
								<input type="text" name="reg_video_url" id="reg_video_url" value="http://"/>
							</div>
							<div class="form-filelink-top-file">
								<div class="window-import-link">
									<div class="fileinput-button">
										<span>Загрузить файл</span>
										<input type="file" name="files[]"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="reg-form-b">
					<div class="form-row clearfix">
						<div class="form-item form-checkboxes">
							<label for="reg_rules"><input type="checkbox" name="reg_rules" checked="checked" required />Согласен/на с передачей прав на использование и воспроизведение произведения</label>
						</div>
					</div>
				</div>
				<div class="form-message form-message-error">
					<div class="ttl">Ошибка</div>
					<p>Поле «Фамилия» должно иметь максимальную длину в 100 символов, включая пробелы. Допустимые символы: буквы русского и английского алфавитов, тире, апостроф. Другие спецсимволы недопустимы.</p>
					<p>Не загружен аудиофайл</p>
				</div>
				<div class="form-message form-message-success">
					<div class="ttl">Все прошло успешно</div>
					<p>Поле «Фамилия» должно иметь максимальную длину в 100 символов, включая пробелы. Допустимые символы: буквы русского и английского алфавитов, тире, апостроф. Другие спецсимволы недопустимы.</p>
					<p>Не загружен аудиофайл</p>
				</div>
				<div class="form-footer">
					<input class="button button-3" type="submit" value="Зарегистрироваться"/>
				</div>
			</form>
		</div>
	</div>
</div>